@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@theme {
  --color-primary: #ff7757;
  --color-secondary: #172432;
  --color-espresso: #331811;
  --color-mahogany: #61291c;
  --color-peach: #ffd2c7;
  --color-sand: #f6e3d4;
  --color-clay: #b85c3c;
  --color-charcoal: #1e1b18;
}

* {
  scroll-behavior: smooth;
  font-family: "Playfair Display", serif;
}

.rubik {
  font-family: "Rubik", sans-serif;
}

/* Navbar */
.navlink::after {
  @apply absolute left-0 bottom-0 h-1 w-0 bg-primary transition-[width] duration-300 content-[''];
}

.navlink:hover::after {
  @apply w-full;
}

.hero .swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}

.hero .swiper-pagination-bullet-active {
  background-color: #ff7757;
}

.hero .swiper-pagination-bullets {
  transform: translate(0);
  gap: 8px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

.css-1ew92b2-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  @apply text-sm! md:text-base! uppercase text-primary!;
}

.Mui-focused::after {
  @apply border-primary!;
}
